<!DOCTYPE html>
<html>
    <head>
        <title>PhotoHolic</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" >
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         <link rel="stylesheet" href="style.css">
         <style type="text/css">
             img{
                    margin: 0 auto;
                    width: 300px;
                    height:300px;
                    text-align: center;
                    display: inline-block;
                }
         </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
       
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">PhotoHolic</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                
  
                        <li><a href="/person/<%=id%>/">My Profile</a></li>
                        <li><a href="/person/<%=id%>/follows">Network</a></li>
                        <li><a href="/logout">Logout</a></li>
     <!--    <li class="dropdown">
       <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More<span class="caret"></span></a>
          <ul class="dropdown-menu"> -->
        
        <li><a style=" background-color: 'black'"  href="/view1/<%=id%>" >Most Liked Pictures</a></li>
                    
    
       <li><a style="background-color: 'black' "  href="/view2/<%=id%>">Most Active Users</a></li>
     
       <li> <a style= "background-color: 'black' "  href="/view3/<%=id%>">Most Used Hashtags</a></li>   
     <!--    </div></div>
        </ul>
        </li>    
                 -->         
                </ul>
            </div>
        </div>
    </nav>
     <div class="container">
    <% if (error && error.length >0){ %>
     <div class="alert alert-danger">
       <%= error %>
     </div>
     <% }else if(success && success.length >0) { %>
     <div class="alert alert-success" role="alert">
       <%= success %>
     </div>
     <% } %>
   </div>
    <div class="ui main text container segment">
        <div class="ui top attached ">
                <div class="ui divided items">
                	<%if( p != undefined){%>
                    <% p.forEach(function(p){%>
                    <div class="item thumbnail" style="height: 450px">
                         <div  class="img img-responsive" ><img src="<%= p.image_url%>" style=" width:300px ;height: 300px ;margin-top:10%">
                         </div>
                         <div class="caption">
                    <div  style="width: 350px; border-style: solid; border-width: 1px; margin-bottom: 5%; border-radius: 5px; padding: 2% 2% ;margin-top:10%">
                     <div >
                      <div>
                      <div style="margin-top: 5%; margin-bottom: 5%"><em>Posted By:  <%=p.photo_user_name%> </em></div>
                  <span style="font-size: 10px"> <%= p.posted_at.toDateString() %> </span>
                  <p> <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span><%= p.likes %> </p>
                    </div>
                    </div> 
           <div class="description" style="margin-bottom: 25px">
            <div style="margin-top: 5%; margin-bottom: 5%"><em> <%=p.caption%> </em></div>
            <div style="font-size: 1.0em; color: blue"> <%=p.photo_tag_text%> </div>
            </div>
          </div>
             <a href="/person/<%=p.photo_user_id%>/photos/<%=p.photo_id%>/comment/<%=id%>/new" class="btn btn-sm btn-success">Comment</a>
        <a href="/person/<%=p.photo_user_id%>/photos/<%=p.photo_id%>/like/<%=id%>/new" class="btn btn-sm btn-danger">Like</a>
        
            <div style="overflow-y: scroll; height: 120px;">
             <% (p.comments).forEach(function(c){{%>
            <%if(c!= undefined){%>
            
              <ul>
               <li><div style><%=c.comment_text%></div></li>
               <p><span>~by</span> <%=c.comment_user_name%></p>

              </ul>
       
          <%}}});%>
        </div>
        </div> 
       
        </div>
                 
        <%}); }%>
                
            </div>
        </div>
        
        </div>
    <% include partials/footer %>