<!DOCTYPE html>
<html>
    <head>
        <title>PhotoHolic</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        <link rel="stylesheet" href="/style.css">

    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">PhotoHolic</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                        <li><a href="/person/<%=id%>/">My Profile</a></li>
                        <li><a href="/person/<%=id%>/follows">Network</a></li>

        <li><a style=" background-color: 'black'"  href="/view1/<%=id%>" >Most Liked Pictures</a></li>
    
       <li><a style="background-color: 'black' "  href="/view2/<%=id%>">Most Active Users</a></li>
     
       <li> <a style= "background-color: 'black' "  href="/view3/<%=id%>">Most Used Hashtags</a></li>   
  
                        <li><a href="/person/<%=id%>/feeds">Feeds</a></li>
                         <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
<h1 style="text-align: center;"><span style="margin-right: 15px">Welcome to </span><em><%=u.user_name%>'s</em> <span style="margin-left: 10px">Profile</span></h1>
<h2 style="text-align: center;"><span style="margin-right: 15px"><%= per.first_name%></span><span><%=per.last_name%></span></h2>
<div style="margin-left: 20%; margin-right: 20%" class="row">
    <div class="col-md-9 col-sm-9">
         <img style="width: 400px; height:400px; border-right: #999999 10px outset; border-bottom: #999999 4px outset; border-left: #000000 4px outset; border-top: #000000 4px outset; align-content: center; border-radius: 50%" src="<%= u.profile_pic%>">

    </div>
    <div class="col-sm-3 col-md-3" >
        <!-- <p><a href="/followers/<%=u.user_id%>">Followed by :</a><span style="margin-right: 10px"><%= foll%> Users</span></p> -->
        

        <p style="font-size: 1.5em; margin-top: 30%">Followed by : <span><%=foll%></span></p>
        <p style="font-size: 1.5em; margin-top: 1%">Following : <span><%=folr%></span></p>
        <p style="font-size: 1.2em">Reach out to me at : <span><%=u.email_id%></span></p>
        <%if(!truth_value){%>
          <form id="follow" class="ui form" action="/person/<%=id%>/<%=u.user_id%>" method="POST">
          <button class="ui red basic button " style="color: red"  >Follow Me</button>
         </form>
         <%} else{%>
           <button class="ui red basic button" style="color: red">Following</button>
         <%}%>
    </div>
 
   </div>
  <div class="row">
 
<div>

</div>
	<div>
     <hr>
    <hr>
    <h2 style="text-align: center"><strong>My Photoholicism manifested</strong></h2>
    <hr>
    <hr>

    </div>
    
</div>
        <!-- <div class="ui main text container segment">
        <div class="ui top attached ">
                <div class="ui divided items">
                    <% p.forEach(function(p){%>
                    <div class="item">
                         <div class="image ui medium rounded" style="margin-bottom: 25px width:200px height: 200px" ><img src="<%= p.image_url%>">
                         </div>
                    <div class="content" style="margin-bottom: 25px">
                     <div class="meta">
                  <span> <%= p.posted_at.toDateString() %> </span>
            
       	 			</div>
                    </div> 
           <div class="description" style="margin-bottom: 25px">
            <div><%=p.caption%> </div>
            <div> <%=p.photo_tag_text%> </div>
        </div>    
        </div>
       
                 
        <%});%>
                
            </div>
        </div>
        
        </div> -->

        <div class="ui main text container segment">
        <div class="ui top attached ">
                <div class="ui divided items">
                    <% p.forEach(function(p){%>
                    <div class="item thumbnail">
                         <div class="image ui medium rounded" style="margin-bottom: 25px; margin-top: 5%; width:200px height: 400px" ><img src="<%= p.image_url%>"  style=" width:300px ;height: 300px">
                         </div>
                           
                          <div class="caption" >
                         <div  style="width: 370px; margin-top:10%;border-style: solid; border-width: 1px; margin-bottom: 5%; border-radius: 5px; padding: 2% 2%; border-color: #BB8FCE ">
                    <div  style="margin-bottom: 25px">
                     <div class="meta">
                  <span style="font-size: 20px"> <%= p.posted_at.toDateString() %> </span>
                    </div>
                    </div>
                    
                    </br></br>
                    <div style="margin-bottom: 25px"> 
           <div class="description" >
           
            <div style="margin: 5%;font-size: 15px; "><%=p.caption%> </div>
            <div style=" margin: 5%;font-size: 1.0em; color: blue"> <%=p.photo_tag_text%> </div>
        </div>  
        </div>
        </div>
        </div>
        </div>
                 
        <%});%>
                
        </div>
        </div>
        </div>
        <% include partials/footer%>