<!DOCTYPE html>
<html>
    <head>
        <title>PhotoHolic</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">PhotoHolic</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                        <li><a href="/person/<%=u.user_id%>/">My Profile</a></li>
                        <li><a href="/person/<%=u.user_id%>/follows">Network</a></li>
                        <li><a href="/person/<%=u.user_id%>/feeds">Feeds</a></li>
                         <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
<h1 style="text-align: center;"><span style="margin-right: 15px">Hey Photoholic</span><em><%=u.user_name%></em></h1>
<h2 style="text-align: center;"><span style="margin-right: 15px"><%= per.first_name%></span><span><%=per.last_name%></span></h2>
<div style="margin-left: 20%; margin-right: 20%">
    <img style="width: 50%; height:50%; border-right: #999999 10px outset; border-bottom: #999999 4px outset; border-left: #000000 4px outset; border-top: #000000 4px outset; align-content: center;" src="<%= u.profile_pic%>">
<div>
    <a style="text-align: center;" href="/person/<%=u.user_id%>/newpersonpost"><button style="width:50%; margin-top: 10px">What are you posting toady? </button></a>  
</div>

<div>

</div>
	<div>
     <hr>
    <hr>
    <h2 style="text-align: center"><strong>Photoholicism at its peak!</strong></h2>
    <hr>
    <hr>

    </div>
    
</div>
        <div class="ui main text container segment">
        <div class="ui top attached ">
                <div class="ui divided items">
                    <% p.forEach(function(p){%>
                    <div class="item">
                         <div class="image ui medium rounded" style="margin-bottom: 25px width:200px height: 200px" ><img src="<%= p.image_url%>">
                         </div>
                    <div class="content" style="margin-bottom: 25px">
                     <div class="meta">
                  <span> <%= p.posted_at.toDateString() %> </span>
            
       	 			</div>
                    </div> 
           <div class="description" style="margin-bottom: 25px">
            <div><%=p.caption%> </div>
            <div> <%=p.photo_tag_text%> </div>
        </div>    
        </div>
                 
        <%});%>
                
            </div>
        </div>
        
        </div>
        <% include partials/footer%>