<html>
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" >
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         <link rel="stylesheet" href="style.css">
 <style type="text/css">
             img{
                    margin: 0 auto;
                    width: 300px;
                    height:300px;
                    text-align: center;
                    display: inline-block;
                }
                  <style>
            td {
    height: 50px;
    vertical-align: bottom;
}
            th, td {
    padding: 15px;
    text-align: left;
}
th, td {
    border-bottom: 1px solid #ddd;
}
tr:hover {background-color: #FAEBD7}
tr:nth-child(even) {background-color: #f2f2f2}
th {
    background-color: #7FFFD4;
    color: white;
}

        </style>
         </style>

</head>
<body>
<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">PhotoHolic</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                        <li><a href="/person/<%=id%>/">My Profile</a></li>
                           <li><a style=" background-color: 'black'"  href="/view1/<%=id%>" >Most Liked Pictures</a></li>
    
       <li><a style="background-color: 'black' "  href="/view2/<%=id%>">Most Active Users</a></li>
     
       <li> <a style= "background-color: 'black' "  href="/view3/<%=id%>">Most Used Hashtags</a></li>   
                        <li><a href="/person/<%=id%>/follows">Network</a></li>
                        <li><a href="/person/<%=id%>/feeds">Feeds</a></li>
                         <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

<div class="container">
<table style="width:100%">
  <tr>
   <th>Hashtag name</th>
    <th>Frequency of Usage</th> 
   
  </tr>
 <%for(var i=0;i<result.length; i++){%>

 <tr>
 	<td><%= result[i].tag_name%></td>
 	<td><%=result[i].county%></td>
 	
 </tr>
 <%}%>
</table>
</div>
<% include partials/footer%>